
<nav class="navbar navbar-expand-lg ">
    <div class="container">
      <a class="navbar-brand " href="#">
        <a href="/"><img src="/static/img/eksi_logo.png" width="125px" alt=""></a>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="search_form">
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group">
                  <input class="nav_search form-control mr-sm-2" type="search" placeholder="Başlık, #Entry, @Yazar" aria-label="Ara">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Kategori 1</a>
                      <a class="dropdown-item" href="#">Kategori 2</a>
                      <a class="dropdown-item" href="#">Kategori 3</a>
                    </div>
                  </div>
                  <span class="input-group-append">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                    </button>
                  </span>
                </div>
              </form>                  
        </div>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user/login/">Giriş</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user/register/">Kayıt Ol</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
           <li class="nav-item">
            <a href="" class="nav-link text-capitalize">
              {{request.user}}
            </a>
          </li>
           <li class="nav-item">
            <a href="/user/logout/" class="nav-link">
              Çıkış Yap
            </a>
          </li>
          {% else %}

          {% endif %}
        </ul>

      </div>
    </div>
</nav>


    <!-- Header section -->
    <header class="header mt-2">
        <div class="container">
            <div class="header-content">
                <ul class="header-icerik">
                    <li><a href="#">Gündem</a></li>
                    <li><a href="#">Debe</a></li>
                    <li><a href="#">Sorunsallar</a></li>
                    <li><a href="#">#Spor</a></li>
                    <li><a href="#">#İlişkiler</a></li>
                    <li><a href="#">#Siyaset</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                              </svg>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Tarihte Bugün</a></li>
                          <li><a class="dropdown-item" href="#">#Seyehat</a></li>
                          <li><a class="dropdown-item" href="#">#Müzik</a></li>
                          <li><a class="dropdown-item" href="#">#Tv</a></li>
                          <li><a class="dropdown-item" href="#">#Haber</a></li>
                          <li><a class="dropdown-item" href="#">#Bilim</a></li>
                          <li><a class="dropdown-item" href="#">#Edebiyat</a></li>
                          <li><a class="dropdown-item" href="#">#Eğitim</a></li>
                          <li><a class="dropdown-item" href="#">#Ekonomi</a></li>
                          <li><a class="dropdown-item" href="#">Başıboşlar</a></li>
                          <li><a class="dropdown-item" href="#">Tüm Kanallar</a></li>
                        </ul>
                      </li>
                      <div class="logos">
                      <li><a href=""><img src="/static/img/pena-text-logo@2x.png" width="50px" alt=""></a></li>
                      <li><a href=""><img src="/static/img/eksiseyler-text-logo@2x.png" width="80px" alt=""></a></li>
                    </div>
                    </ul>
            </div>
        </div>
    </header>

    <hr>