<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://kit.fontawesome.com/7d9fc689df.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg ">
        <div class="container">
          <a class="navbar-brand " href="#">
            <a href="index.html"><img src="/static/img/eksi_logo.png" width="125px" alt=""></a>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="search_form">
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group">
                      <input class="nav_search form-control mr-sm-2" type="search" placeholder="Başlık, #Entry, @Yazar" aria-label="Ara">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Kategori 1</a>
                          <a class="dropdown-item" href="#">Kategori 2</a>
                          <a class="dropdown-item" href="#">Kategori 3</a>
                        </div>
                      </div>
                      <span class="input-group-append">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                        </button>
                      </span>
                    </div>
                  </form>                  
            </div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="login.html">Giriş</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="register.html">Kayıt Ol</a>
              </li>
              
            </ul>
          </div>
        </div>
    </nav>

    <!-- Header section -->
    <header class="header mt-2">
        <div class="container">
            <div class="header-content">
                <ul class="header-icerik">
                    <li><a href="#">Gündem</a></li>
                    <li><a href="#">Debe</a></li>
                    <li><a href="#">Sorunsallar</a></li>
                    <li><a href="#">#Spor</a></li>
                    <li><a href="#">#İlişkiler</a></li>
                    <li><a href="#">#Siyaset</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                              </svg>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Tarihte Bugün</a></li>
                          <li><a class="dropdown-item" href="#">#Seyehat</a></li>
                          <li><a class="dropdown-item" href="#">#Müzik</a></li>
                          <li><a class="dropdown-item" href="#">#Tv</a></li>
                          <li><a class="dropdown-item" href="#">#Haber</a></li>
                          <li><a class="dropdown-item" href="#">#Bilim</a></li>
                          <li><a class="dropdown-item" href="#">#Edebiyat</a></li>
                          <li><a class="dropdown-item" href="#">#Eğitim</a></li>
                          <li><a class="dropdown-item" href="#">#Ekonomi</a></li>
                          <li><a class="dropdown-item" href="#">Başıboşlar</a></li>
                          <li><a class="dropdown-item" href="#">Tüm Kanallar</a></li>
                        </ul>
                      </li>
                      <div class="logos">
                      <li><a href=""><img src="/static/img/pena-text-logo@2x.png" width="50px" alt=""></a></li>
                      <li><a href=""><img src="/static/img/eksiseyler-text-logo@2x.png" width="80px" alt=""></a></li>
                    </div>
                    </ul>
            </div>
        </div>
    </header>


    <hr>

    <section>
      <div class="container">
        <div class="section_content d-flex">
          <div class="left_panel ">
            <div class="gundem d-flex">
            <h3>Gündem</h3>
              <p>
                <a class="btn " data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                  <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
                </a>
              </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Gündeminizi Kişiselleştirin
                <div class="gundem_icerik">
                  <a href="">#Spor</a>
                  <a href="">#Siyaset</a>
                  <a href="">#Anket</a>
                  <a href="">İlişkiler</a>
                </div>
              </div>
            </div>
          </div>
              <div class="left_panel_content">
                <a href=""><p>6 Şubat 2023 deprem yardımlaşma başlığı</p></a>
                <a href=""><p>Bomboş yolda şerit değiştirirken sinyal vermek</p></a>
                <a href=""><p>Kadınların %95'inin mesleğe baktığı gerçeği</p></a>
                <a href=""><p>Ataşehirdeki gizemli kadın</p></a>
                <a href=""><p>30 yaşını geçmesine rağmen neşeli görünen tip</p></a>
                <a href=""><p>Hindistan denince akla gelenler</p></a>
                <a href=""><p>Duvara sprey ile yazılacak şeyler</p></a>
                <a href=""><p>Boşanmanın eşiğindeki çiftlere tavsiyeler</p></a>
                <a href=""><p>Sabah akşam güneş alan evde oturmak</p></a>
                <a href=""><p>Sözlük yazarlarının üşengeçlik seviyeleri</p></a>
                <a href=""><p>Bir kadını kızdırmanın yolları</p></a>
                <a href=""><p>Haftada 45 saat çalışmak köleliktir</p></a>
                <a href=""><p>The banshees of inisherin</p></a>
                <a href=""><p>Silicon valley bank</p></a>
                <a href=""><p>Sözlük yazarlarının çektiği fotoğraflar</p></a>
                <a href=""><p>Öldükten sonra hiçliğin olma ihtimali</p></a>
                <a href=""><p>Kıymanın kilosunun 300 TL olması</p></a>
                <a href=""><p>Fake hesap açarak sevgilisini sınayan kadın</p></a>
              </div>
          </div>
          <div class="right_panel">
            <div class="right_panel_content register_panel">
                <h3 class="giris mb-5">giriş</h3>
              <form class="" action="" method="post">
                <label for="email">email</label>
                <input type="email" id="email"><br><br>
                <label for="password">şifre</label>
                <input type="password" id="password"><br><br>
                <div id="giris_onay"></div>
                <button type="button" onclick="giris()">giriş yapmaya çabala</button>
                </form>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>



    <script src="https://kit.fontawesome.com/7d9fc689df.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>